/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  position: relative;
}
header .headerWrap {
  background-color: #C4C4C4;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #fff;
}
header .navBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
header .navBtn .circle {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #fff;
}

.hiddenNav {
  background-color: #616E7C;
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  z-index: 3;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hiddenNav ul li {
  margin-bottom: 1em;
  color: #fafafa;
  cursor: pointer;
  font-family: "Alegreya", serif;
}

.hiddenNav.open {
  width: 14.28em;
  height: 7.14em;
  padding: 1em;
}

main {
  height: 100vh;
  padding: 1em;
  background-color: #212121;
  position: relative;
}
main img {
  display: block;
  margin: 5em auto;
  max-width: 300px;
  opacity: 0.8;
}
main h1 {
  font-size: 1.5em;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  color: #ffff;
  margin-bottom: 2em;
}
main .modalActivity {
  display: none;
  padding: 1em;
  background-color: #989788;
  width: 300px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -75px;
  z-index: 4;
}
main .modalActivity form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Alegreya", serif;
}
main .modalActivity .formField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  width: 100%;
  margin-bottom: 1em;
}
main .modalActivity .formField input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: "Alegreya", serif;
}
main .modalActivity button {
  padding: 1em;
  font-family: "Alegreya", serif;
  background-color: #251101;
  border-radius: 10px;
  border: none;
  color: white;
  -webkit-box-shadow: 0px 6px 1px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 6px 1px 0px rgba(0, 0, 0, 0.75);
}
main .modalActivity button:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: none;
          box-shadow: none;
}
main .activityWrap {
  position: relative;
  width: 100%;
}
main .activityWrap .priority {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
main .activityWrap .low {
  background-color: #5383FF;
}
main .activityWrap .medium {
  background-color: #FF8F00;
}
main .activityWrap .high {
  background-color: #FF5252;
}
main .activityWrap li {
  position: relative;
  z-index: 2;
  width: 80vw;
  gap: 0.5em;
  background-color: #818D92;
  padding: 0.5em;
  margin: 0 auto;
  font-family: "Alegreya", serif;
  color: #FEEAFA;
  font-size: 1em;
  margin-bottom: 3em;
}
main .activityWrap li .listItemWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .activityWrap li ion-icon {
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  main .activityWrap li {
    max-width: 500px;
  }
}
main .activityWrap .checked {
  opacity: 0.5;
}
main .activityWrap .activity {
  margin-left: 0.5em;
}
main .activityWrap .tag {
  background-color: #C17817;
  z-index: -3;
  position: relative;
  bottom: 0.8em;
  right: 0.5em;
  width: 81.7vw;
  border-radius: 5px 5px 0 0;
  padding: 5px;
}
main .activityWrap .mark {
  background-color: #6B2D5C;
  padding: 0.5em 1em;
  border: none;
  color: #fafafa;
  position: absolute;
  right: 5em;
}
main .activityWrap .mark:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
main .activityWrap .mark.done {
  opacity: 0.5;
}
main .activityWrap .close-btn {
  background-color: #B20D30;
  padding: 0.5em 1em;
  border: none;
  color: #fafafa;
  position: absolute;
  right: 1em;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
main .activityWrap .close-btn:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
main .activityWrap .todoList:empty {
  display: none;
}
main .activityWrap .todoList:empty + .empty {
  display: block;
}
main .activityWrap .empty {
  position: absolute;
  bottom: -40em;
  display: none;
}
main .activityWrap .empty .empty-img {
  margin-top: 0;
}

footer {
  background-color: #243B53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1em;
}
footer .btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 5px;
}
footer p {
  color: #F2E9DC;
  font-size: 0.8em;
  font-family: "Alegreya", serif;
}
footer button {
  width: 50px;
  height: 50px;
  background-color: #88958D;
  border-radius: 10px;
  border: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
footer button:hover {
  background-color: #5171A5;
}
footer button span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer button img {
  width: 20px;
  height: 20px;
  color: white;
}
footer .add-activity {
  border-radius: 50%;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  width: 70px;
  height: 70px;
}
footer .add-activity div {
  width: 30px;
  height: 3px;
  background-color: white;
}
footer .add-activity div:nth-child(1) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
footer .add-activity div:nth-child(2) {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
footer ion-icon {
  font-size: 1em;
}
footer .activity {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  font-size: 1em;
}