@import './root';
@import './variable';
@import 'mixin';

header {
    position: relative;
    .headerWrap {
        background-color: #C4C4C4;
        padding : $padding;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        // make a circle
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: #fff;
    }

    .navBtn {
        display: flex;
        flex-direction: column;
        gap : 5px;
        cursor: pointer;
        
        .circle {
            border-radius: 50%;
            width: 5px;
            height: 5px;
            background-color: #fff; 
        }
    }
}

.hiddenNav {
    background-color: #616E7C;
    width : 0;
    height : 0;
    position: absolute;
    right: 0;
    z-index: 1;
    transition: .3s ease-in-out;

    ul {

        li {
            margin-bottom: 1em;
            color : #fafafa;
            cursor : pointer;
            font-family: $taskFont;
        }
    }
}

.hiddenNav.open {
    width : 14.28em;
    height : 7.14em;
    padding : $padding;
}


main {
    height : 100vh;
    padding : $padding;
    background-color: $background;
    position: relative;

    img {
        display: block;
        margin: 5em auto;
        max-width: 300px;
        opacity: 0.8;
    }

    h1 {
        font-size: $header_size;
        font-family: $header;
        text-align: center;
        color : #ffff;
        margin-bottom: 2em;
    }

    .modalActivity {
        display: none;
        padding: $padding;
        background-color: #989788;
        width: 300px;
        height: 150px;
        position: absolute;
        top : 50%;
        left : 50%;
        margin-left: -160px;
        margin-top: -75px;
        z-index: 2;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: $taskFont;
        }

        .formField {
            display: flex;
            justify-content: center;
            gap : 1em;
            width : 100%;
            margin-bottom: 1em;

            input {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #fff;
                font-family: $taskFont;
            }
        }

        button {
            padding : $padding;
            font-family: $taskFont;
            background-color: #251101;
            border-radius: 10px;
            border: none;
            color : white;
            box-shadow: 0px 6px 1px 0px rgba(0,0,0,0.75);

            &:hover {
                transform: translateY(5px);
                box-shadow: none;
            }
        }
    }

    .activityWrap {
        // background-color: red;
        // transform: translateY(-10em);
        position: relative;
        width: 100%;

        .priority {
            width: 30px;
            height : 30px;
            border-radius: 50%;
        }
        
        .low {
            background-color : $low_priority; 
        }

        .medium {
            background-color : $medium_priority; 
        }

        .high {
            background-color : $high_priority; 
        }

        li {
            max-width: 300px;
            gap : .5em;
            background-color: $task_background;
            padding : .5em;
            margin: 0 auto;
            font-family: $taskFont;
            color : $taskFont-color;
            font-size: $taskFont-size;
            margin-bottom: 3em;

            .listItemWrap {
                display: flex;
                align-items: center;
            }


            ion-icon {
                margin-left: auto;
            }

            @include mQ($tablet) {
                max-width: 500px;
            }
        }

        .done {
            opacity: 0.5;
        }

        .tag {
            background-color: #C17817;
            // padding : .5em $padding;
            // border: none;
            // bottom : -1.8em;
            // right : 1em;
        }

        .mark {
            background-color: #6B2D5C;
            padding : .5em $padding;
            border: none;
            color : #fafafa;
            position: absolute;
            right : 6em;

            &:hover {
                transform: translateY(2px);
            }
        }

        .close-btn {
            background-color: #B20D30;
            padding : .5em $padding;
            border: none;
            color : #fafafa;
            position: absolute;
            right : 1em;
            cursor: pointer;
            transition: .3s ease-in-out;

            &:hover {
                transform: translateY(2px);
            }
        }
      
        .todoList:empty {
            display: none;
        }

        .todoList:empty + .empty {
            display: block;
        }

        .empty {
            position: absolute;
            bottom : -40em;
            display: none;

            .empty-img {
                margin-top: 0;
            }
        }
    }
}

footer {
    background-color: #243B53;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding : $padding;

    .btn-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap : 5px;
    }

    p {
        color : #F2E9DC;
        font-size: .8em;
        font-family: $taskFont;
    }

    button {
        width : 50px;
        height : 50px;
        background-color: #88958D;
        border-radius: 10px;
        border: none;
        transition: .3s ease-in-out;

        &:hover {
            background-color: #5171A5;
        }


        span {
            display : flex;
            flex-direction: column;
            align-items: center;
        }

        img {
            width: 20px;
            height: 20px;
            color : white;
        }
    }

    .add-activity {
        border-radius: 50%;
        transform: translateY(-40px);
        width : 70px;
        height : 70px;

        div {
            width : 30px;
            height : 3px;
            background-color : white;

            &:nth-child(1) {
                transform: rotate(90deg);
            }

            &:nth-child(2) {
                transform: translateY(-2px);
            }
        }
    }

    .activity {
        transform: translateY(-40px);
        font-size: 1em;
    }
}